body {
  background: #f5f5f1;
  margin: 0; }

header {
  background: white; }

h1 {
  display: inline-block;
  margin-left: 30px;
  color: #f56400;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 100;
  margin-top: 20px; }

.searchText {
  display: inline-block;
  font-size: 14px;
  width: 210px;
  height: 30px;
  border: none;
  padding: 0;
  padding-left: 5px;
  border-radius: 5px; }
  .searchText:focus {
    outline: none; }

.searchButton {
  float: right;
  width: 85px;
  font-size: 14px;
  height: 30px;
  color: white;
  background: #34a8c4;
  border: none;
  padding: 0; }
  .searchButton:focus {
    outline: none; }
  .searchButton:hover {
    background: #4ab4cf; }
  .searchButton:active {
    background: #309bb5; }

.searchBar {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #34a8c4;
  margin-top: 30px; }
  .searchBar:hover {
    box-shadow: none; }

.site-nav-list {
  list-style-type: none;
  display: inline-block;
  float: right;
  margin-right: 30px; }
  .site-nav-list li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    font-family: Helvetica;
    font-size: 13px;
    text-align: center;
    vertical-align: middle; }
    .site-nav-list li span {
      height: 100%;
      color: #34a8c4; }

.site-nav {
  color: #666;
  padding-top: 10px;
  border-left: 1px solid #ddd; }
  .site-nav i {
    font-size: 25px; }
  .site-nav p {
    margin-top: 5px; }

.header-nav-bar {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin-bottom: 0px;
  border: 1px solid #ddd;
  color: #999; }
  .header-nav-bar li {
    display: inline-block;
    font-family: Helvetica;
    font-size: 14px;
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 8px;
    height: 61%;
    width: auto; }
    .header-nav-bar li:hover {
      border-bottom: 3px solid #f56400; }

div {
  width: 230px;
  height: 230px;
  margin: 10px;
  background: white;
  display: inline-block;
  vertical-align: top; }
  div:hover {
    box-shadow: 0px 0px 3px gray; }
  div img {
    width: 100%;
    height: auto; }
  div p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 3px;
    font-size: 13px;
    color: black; }
  div .seller {
    color: #999;
    display: inline-block; }
  div .price {
    color: #8bd248;
    display: inline-block;
    float: right;
    margin: 5px; }

footer {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  width: 100%;
  height: 100px;
  font-family: Helvetica;
  text-align: center; }

footer ul {
  list-style-type: none;
  display: inline-block;
  font-size: 13px; }
  footer ul li {
    display: inline-block; }

button {
  border: 1px solid #ddd;
  background: none;
  height: 30px; }
  button:focus {
    outline: none; }

.help button {
  margin-left: 40px;
  width: 140px;
  height: 30px;
  font-size: 14px; }

.information-section {
  background: none;
  width: auto;
  height: auto;
  display: block;
  color: #999; }
  .information-section:hover {
    box-shadow: none; }
  .information-section p {
    height: 100%;
    color: #aaa;
    display: inline-block; }

p.info {
  display: inline-block;
  height: 100%;
  font-size: 13px;
  color: #666;
  text-decoration: none; }
  p.info:hover {
    text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
