$orange: #f56400;
$lightblue: #34a8c4;
$lightgray: #999;

body {
  background: #f5f5f1;
  margin: 0;
}
header {
  background: white;
}
h1 {
  display: inline-block;
  margin-left: 30px;
  color: $orange;
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 100;
  margin-top: 20px;
}
.searchText {
  display: inline-block;
  font-size: 14px;
  width: 210px;
  height: 30px;
  border: none;
  padding: 0;
  padding-left: 5px;
  border-radius: 5px;
  &:focus {
    outline: none;
  }

}
.searchButton {
  float: right;
  width: 85px;
  font-size: 14px;
  height: 30px;
  color: white;
  background: $lightblue;
  border: none;
  padding: 0;
  &:focus {
    outline: none;
  }
  &:hover {
    background: #4ab4cf;
  }
  &:active {
    background: #309bb5;
  }

}
.searchBar {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid $lightblue;
  margin-top: 30px;
  &:hover {
    box-shadow: none;
  }
}
.site-nav-list {
  list-style-type: none;
  display: inline-block;
  float: right;
  margin-right: 30px;
  li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    font-family: Helvetica;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    span {
      height: 100%;
      color: $lightblue;
    }
  }
}
.site-nav {
  color: #666;
  padding-top: 10px;
  border-left: 1px solid #ddd;
  i {
    font-size: 25px;
  }
  p {
    margin-top: 5px;
  }
}
.header-nav-bar {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin-bottom: 0px;
  border: 1px solid #ddd;
  color: $lightgray;
  li {
    display: inline-block;
    font-family: Helvetica;
    font-size: 14px;
    margin-top: 17px;
    margin-right: 8px;
    margin-left: 8px;
    height: 61%;
    width: auto;
    &:hover {
      border-bottom: 3px solid $orange;
    }
  }
}

div {
  width: 230px;
  height: 230px;
  margin: 10px;
  background: white;
  display: inline-block;
  vertical-align: top;
  &:hover {
    box-shadow: 0px 0px 3px gray;
  }
  img {
    width: 100%;
    height: auto;
  }
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 3px;
    font-size: 13px;
    color: black;
  }
  .seller {
    color: $lightgray;
    display: inline-block;
  }
  .price {
    color: #8bd248;
    display: inline-block;
    float: right;
    margin: 5px;
  }
}
footer {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  width: 100%;
  height: 100px;
  font-family: Helvetica;
  text-align: center;
}
footer ul {
  list-style-type: none;
  display: inline-block;
  font-size: 13px;
  li {
    display: inline-block;
  }
}
button {
  border: 1px solid #ddd;

  background: none;
  height: 30px;
  &:focus {
    outline: none;
  }
}
.help button {
  margin-left: 40px;
  width: 140px;
  height: 30px;
  font-size: 14px;
}
.information-section{
  background: none;
  width: auto;
  height: auto;
  display: block;
  color: $lightgray;
  &:hover {
    box-shadow: none;
  }
  p {
    height: 100%;
    color: #aaa;
    display: inline-block;
  }
}
p.info {
  display: inline-block;
  height: 100%;
  font-size: 13px;
  color: #666;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
